.recipe {
  max-width: 1200px;
  margin: 40px auto;
  text-align: center;
  background: #fff;
  padding: 40px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(128, 126, 241, 0.2);
}
.recipe ul {
  display: flex;
  padding: 0;
  justify-content: center;
  margin-top: 0;
}
.recipe li {
  list-style-type: none;
  margin-right: 10px;
  color: #777;
}
.recipe li::after {
  content: ",";
}
.recipe li:last-child::after {
  content: ".";
}
.method {
  text-align: left;
  line-height: 1.5em;
}